.js-modal{display:none;position:fixed;overflow-y:auto;overflow-x:hidden;top:0;left:0;width:100%;height:100%;align-items:center;justify-content:center}.js-modal__content{transition:all .3s ease}.js-modal--active{display:flex}@keyframes fade-in{from{transform:translateY(100px) scale(0.9);opacity:0}to{transform:translateY(0px) scale(1);opacity:1}}@keyframes fade-out{from{transform:translateY(0px) scale(1);opacity:1}to{transform:translateY(100px) scale(0.9);opacity:0}}@keyframes fade-left-in{from{transform:translateX(100%);opacity:0}to{transform:translateX(0);opacity:1}}@keyframes fade-left-out{from{transform:translateX(0);opacity:1}to{transform:translateX(100%);opacity:0}}@keyframes fade-up-in{from{transform:translateY(100%);opacity:0}to{transform:translateY(0);opacity:1}}@keyframes fade-up-out{from{transform:translateY(0);opacity:0}to{transform:translateY(100%);opacity:1}}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}


body {
	margin: 0;
}


main {
	display: block;
}


h1 {
	font-size: 2em;
	margin: 0.67em 0;
}



hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}


b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}


button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}


summary {
	display: list-item;
}


template {
	display: none;
}

[hidden] {
	display: none;
}

@font-face{font-family:"Montserrat";src:url(assets/fonts/Montserrat-Regular..woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Montserrat";src:url(assets/fonts/Montserrat-SemiBold..woff) format("woff");font-weight:600;font-style:normal}*{box-sizing:border-box}body{font-family:"Montserrat",Helvetica,sans-serif}.body--unscroll{overflow:hidden}.title{font-size:24px;line-height:30px;font-weight:600}.modal{background:rgba(0,0,0,.4)}.modal__content{background:#fff;border-radius:8px;padding:24px 24px 48px;display:flex;flex-direction:column}.modal__close-btn{align-self:flex-end;margin:0 12px 12px}.modal__main-btn{margin-top:24px}.container{width:1200px;margin:0 auto;padding:0 16px}.main-btn{background:rgba(0,0,0,0);border:1px solid teal;padding:15px 20px;text-decoration:none;display:inline-flex;align-items:center;justify-content:center;color:#000;text-transform:uppercase;font-weight:600}.buttons-container{padding:24px 0 0 0}.buttons-container__title{margin:0}.buttons-container__description{font-size:16px;line-height:24px;font-weight:400;margin:12px 0 0 0}.buttons-container__items{margin-top:14px;display:grid;grid-template-columns:1fr 1fr 1fr;grid-gap:12px;gap:12px}.close-btn{width:40px;height:40px;display:flex;align-items:center;justify-content:center;border-radius:50%;border:1px solid teal;text-decoration:none}
